.imageGallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
}

.imageGallery img {
  width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
